@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('../font/Miama.otf') format('opentype'), /* For OTF */
         url('../font/Miama.ttf') format('truetype'); /* For TTF */
    font-weight: normal;
    font-style: normal;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
/* Common Css Style Starts here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-orange{
    color: #E6533C;
    font-size: 2.2rem;
}
.text-primary{
    color: #fff;
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    color: #fff;
    border: none;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}
.btn-secondary{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background-color: rgba(15, 15, 15, 0.5);
    color: #fff;
    border: 1px solid white;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}
header{
    /* background: linear-gradient(to bottom, #000000, #333333); */
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(15, 15, 15, 0.925) 50%, rgb(17, 17, 17) 100%);  
    height: 680px;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

/* Common Css Style ends here */

/* navbar styles strats here */

.navbar{
    max-width: 1060px;
    height: 100px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
}
.nav-menu{
    display: flex;
    gap: 47px;
}
#home{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.nav-menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 45px;
    align-items: center;
    position: relative;
}
.nav-item {
    padding: 8px 20px;
    width: 89px;
}
.ham-burger{
    display: none;
}
/* navbar styles ends here */

/* banner style starts here */

.banner-section{
    max-width: 1060px;
    margin: 0 auto;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content, .banner-image{
    width: 50%;
}
.banner-title{
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 120%;
    
}
.shape {
    font-family: Miama;
    font-weight: 100;
    font-size: 9.9rem;
}
.banner-description{
    margin: 28px 0;
    line-height: 1.5rem;
}
.banner-content button{
    margin-right: 15px;
}
.banner-image{
    position: relative;
}
.banner-image img{
    padding-left: 100px;
}
.banner-image .circul {
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 30px;
}
.banner-image .text {
    position: absolute;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    background: rgba(48, 48, 48, 0.301);
    width: 206px;
    padding:20px 40px;
    text-align: left;
    top: 429px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.banner-image .text .card-1{
    padding-left: 15px;
}
.banner-image .text .number{
    font-size: 1.5rem;
}

.banner-image .card-2 {
    position: absolute;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    background: rgba(48, 48, 48, 0.301);
    width: 206px;
    padding:20px 0;
    text-align: center;
    top: 114px;
    right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.banner-image .card-2 .number-2{
    font-size: 2.5rem;
}
/* banner style ends here */

/* havits section styles starts here */
.havits-heading{
    background-color: #000;
    text-align: center;
    padding-top: 100px;
}
.havit-title{
    font-size: 3rem;
    font-weight: 900;
    padding: 16px;
}
.heading-content{
    max-width: 1060px;
    margin: 0 auto;
}
.habits-section{
    background-color: #000;
    text-align: center;
    border-top: 1px solid red;
}
.habits-container{
    width: 1060px;
    margin: 0 auto;
}

.habits-container hr{
    max-width: 2000px;
    border: 1px solid #fc0000;
}
.habits-content{
    display: flex;
    justify-content: space-between;
}
.habits-description {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 58px;
    line-height: 1.5rem;
}
.card img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}
.card p{
    font-size: 0.8rem;
    font-weight: 400;
}

/* havits section styles ends here */

/* runsection styles starts here */

.run-section{
    background-color: #000;
    padding-top: 75px;
}
.run-container{
    width: 1060px;
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.run-description{
    font-size: 0.8rem;
    margin-bottom: 34px;
    line-height: 1.5rem;
}
.run-img img{
    margin-left: 110px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}




/* runsection styles ends here */